<a href="https://colab.research.google.com/github/VishalShah1999/Visulization_ML/blob/main/vs2530_HW5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 5
The main goal of this homework is to use what we have learned from white-box models to understand a black-box model's behavior.

We are still going to use the loan application dataset as in the practice 2. Find it here: https://drive.google.com/file/d/186LjbAZoMat91ByH7aJGJ8PnfO2LqKlu/view?usp=sharing

Don't forget to specify the filepath on your own Google Drive below.


You will need to finish the following subtasks:
- (1) Train a surrogate tree-based model to understand the model prediction behaviors of the provided SVM model. 
- (2) Answer a few questions based on the interpretation of the surrogate model.

In [ ]:
import numpy as np
import pandas as pd
from sklearn import svm

In the column of "Outcome",
- 0 represents "will not default",
- 1 represents "will default".

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(filepath_or_buffer="/content/drive/MyDrive/<the path to the file>",)
df

      Outcome  ...  % Trades w/ Balance
0           0  ...                   69
1           0  ...                    0
2           0  ...                   86
3           0  ...                   91
4           0  ...                   80
...       ...  ...                  ...
9866        1  ...                  100
9867        0  ...                   80
9868        0  ...                   56
9869        0  ...                   38
9870        0  ...                  100

[9871 rows x 24 columns]

In [ ]:
X = df.drop(columns=['Outcome']).values
y = df['Outcome'].values

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
'''train a decision tree model'''
clf = svm.SVC(kernel="linear", C=0.001, probability=True)
clf.fit(X_train, y_train)

SVC(C=0.001, kernel='linear', probability=True)

In [ ]:
print("training accuracy:", clf.score(X_train, y_train))
print("testing accuracy:", clf.score(X_test, y_test))

training accuracy: 0.7310030395136778
testing accuracy: 0.7281012658227848

## Please train a surrogate model to approximate the original model's behavior on the **test set**?

How can we do that?

We can use the original model input (`X_test`), and the model output (but not the labels/ground truth) to train an interpretable surrogate model, for example, a decision tree, or a rule set.


Please include your surrogate model training code below. You can add or remove any code blocks.

## Question Answering
Please answer the following questions based on the surrogate model you have trained.  

(1) What features are important when the original model makes predictions? List the top 5 features that yout think are mostly important. 

(2) Please explain why you choose the parameters you used to train the surrogate tree.

(3) When a person is predicted as "will default" in the future, what may the loan application look like? Describe the application using no more than 3 features. And what's your reason for this description?

(4) Imagine that you are going to deploy this SVM model for the actual business department, please list 3 questions about this SVM model's behavior that you want to know before the actual deployment, and whether they can be answered by the surrogate tree. 
(Notice: This question is not to judege how well you can do something, just to help you understand the role of model interpretation in the whole pipeline. So you can just list whatever you want to talk about.)




======== You can run some code and answer the questions based on what you see from the result ========